<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main class="auth-page">
  <section class="auth-section">
    <h1>Register Account</h1>

    <form method="POST" action="/login" class="vehicle-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>

      <button type="submit">Login</button>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>