<%- include('partials/head') %>

<%- include('partials/header') %>
  <div class = "header-subtext">
  <h1>About</h1>
  <p>[Add some content specific to this page]</p>
  </div>
  <%- include('partials/footer') %>