<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

  <%- include('partials/header') %>

  <div class="hero-banner">
    <img class="hero-banner-img" src="/images/hero-banner-car.png" alt="car hero banner" />
  </div>

  <h1>Manny's Car Dealership</h1>
  <p>[Add some content specific to this page]</p>

    <%- include('partials/footer') %>

</body>
</html>