<%- include('partials/head') %>

<%- include('partials/header') %>

  <div class="hero-banner">
    <img class="hero-banner-img" src="/images/hero-banner-car.png" alt="car hero banner" />
  </div>

  <h1>Manny's Car Dealership</h1>

<%- include('partials/footer') %>