<header>
  <nav>
    <div class = 'menu-button'>
      <ul>
        <li><a>Menu</a></li>
      </ul>
    </div>
    <div class = 'menu closed'>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/vehicles">Vehicles</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

  </nav>
</header>