@use "variables" as *;

html,
body {
  text-align:center;
  background: grey;
  color: white !important;
}

body {
  font-family: $font-primary;
  line-height: 1.6;
}

main {
  min-height: 70vh;
}

section {
  padding: $space-xl 0;
}
/*
@media{}
*/